<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>JemberTourism</title>
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
  <link rel="icon" href="public/favicon.ico" type="image/x-icon">
</head>

<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  <header>
    <nav>
      <div class="navbar">
        <i class="bx bx-menu"></i>
        <div class="logo">
          <img src="/images/logo.svg" width="300px" alt="logo" />
        </div>
        <div class="nav-links">
          <div class="sidebar-logo">
            <span class="logo-name">
              <img src="/images/logo.svg" width="100px" alt="" /></span>
            <i class="bx bx-x"></i>
          </div>
          <ul class="links">
            <li><a href="#">Home</a></li>
            <li>
              <a href="#">Features</a>
            </li>
            <li>
              <a href="#">About Us</a>
              <i class="bx bxs-chevron-down js-arrow arrow"></i>
              <ul class="js-sub-menu sub-menu">
                <li><a href="#">Luthfi</a></li>
                <li><a href="#">Farhan</a></li>
                <li><a href="#">Ira</a></li>
              </ul>
            </li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="hero">
      <img src="/images/background-mini.svg" width="100%" max-width="100vw" alt="" />
      <div class="hero-row">
        <div class="hero-content">
          <p>Destinasi terbaik di sekitar bali !</p>
          <h1>Checklist impian, lengkapi destinasi yang pernah dikunjungi</h1>
          <button class="coba-btn">Coba Sekarang</button>
        </div>
        <img src="/images/heros.svg" alt="" />
      </div>
    </section>
  </header>
  <section class="features">
    <h1>Features</h1>
    <h3>Fitur Yang ada</h3>
    <div class="features-row">
      <ul>
        <li>
          <img src="./images/tiny-image1.png" alt="" />
          <h4>2D Map Model</h4>
          <p>
            Menggunakan teknologi map yang bisa di hover.
          </p>
        </li>
        <li>
          <img src="/images/tiny-image4.png" alt="" />
          <h4>Detail</h4>
          <p>
            Melihat detail suatu destinasi beserta reviewnya.
          </p>
        </li>
        <li>
          <img src="/images/tiny-image2.png" alt="" />
          <h4>Article</h4>
          <p>
            Mini artikel berita seputar pariwisata Jember.
          </p>
        </li>
        <li>
          <img src="/images/tiny-image3.png" alt="" />
          <h4>Responsibility</h4>
          <p>
            Dengan experience dan tampilan yang tidak bikin bosan.
          </p>
        </li>
      </ul>
    </div>
  </section>

  <section class="three-step">
    <img src="/images/background-mini.svg" width="100%" max-width="100vw" alt="" />

    <div class="three-step-content">
      <h3>Easy and Fast</h3>
      <h1>3 Langkah Mudah Melengkapi Destinasimu</h1>

      <div class="step-flex">
        <img src="/images/tiny-image5.png" width="20px" alt="" />

        <p>
          <span>Pilih Destinasi</span> <br />Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Urna, tortor tempus.
        </p>
      </div>
      <div class="step-flex">
        <img src="/images/tiny-image6.png" width="20px" alt="" />

        <p>
          <span>Pilih Destinasi</span> <br />Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Urna, tortor tempus.
        </p>
      </div>
      <div class="step-flex">
        <img src="/images/tiny-image7.png" width="20px" alt="" />

        <p>
          <span>Pilih Destinasi</span> <br />Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Urna, tortor tempus.
        </p>
      </div>
    </div>
  </section>

  <section class="review">
    <div class="review-content">
      <img src="/images/review.svg" alt="" />
    </div>
  </section>

  <section class="quote">
    <div class="quote-content">
      <img src="/images/quote.svg" width="700px" alt="" />
    </div>
  </section>

  <section id="contact">
    <img src="/images/background-mini.svg" width="100%" max-width="100vw" alt="" />

    <div class="contact-row">
      <h2>Contact</h2>
      <div class="contact-content">
        <img src="/images/man.svg" width="200vw" alt="man" />
        <form target="_blank" action="https://formsubmit.co/f372b075a582ae3648e13e40d8e2c9e6" method="POST">
          <div class="col">
            <input type="text" name="name" class="form-control" placeholder="Nama" required />
            <input type="email" name="email" class="form-control" placeholder="Email" required />
          </div>

          <div id="textarea">
            <textarea placeholder="Your Message" class="form-control" name="message" rows="10" required></textarea>
          </div>

          <button type="submit" class="submit-btn">Send</button>
        </form>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer-component></footer-component>

  <script type="text/javascript" src="./dist/app.bundle.js"></script>
</body>

</html>